h1,h2,h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}
.row {
  display: flex;
  justify-content: center;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}
.block {
justify-content: center !important;
  background-color: #e0e0e0 !important;
  padding: 1rem !important;
  margin-left: 700px !important;
  margin-top: 50px !important;
  border-radius: 0.5rem !important;
  width: 500px !important;
}
.text-right {
  text-align: right;
}

button {
  font-size: 0.8rem !important;
  padding: 0.2rem !important;
  margin: 0.1rem !important;
  border-radius: 0.5rem !important;
  border: 0.1rem white !important;
  width: 100% !important;
  cursor: pointer !important;
}

button.remove {
  background-color: rgb(255, 115, 0) !important;
  width: 1.5rem !important;
  color: white !important;
}
button.badge {
  background-color: #276b30 !important;
  border: none !important;
  color: #ffffff !important;
  width: 2rem !important;
  padding-bottom: 0.3rem !important;
}
.bi-trash3{
  padding-bottom: 0.3rem !important;
  padding-top: 0.3rem !important;
}