/*Nuevos estilos*/

.styleNav{
    background-color: rgb(255, 115, 0);
  }

  .tituloPag{
    color: "#ce6402";
    text-align: "center";
    text-transform: "uppercase";
    padding-top: 30px;
    font-style: "bold";
    background-color: "#ffffff";
    margin-top: "150px"
  }
  
  .subPag{
    color: "#ce6402";
    text-align: "center";
    padding-top: 15px;
    font-style: "bold";
    background-color: "#ffffff";
    margin-top: "20px"
  }

  
  .bi-cart4 {
    width: 18px;
    height: 18px;
  }


  /*Estilo botones*/

  .btn_menos , .btn_mas{
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 0.9rem;
    box-shadow: none;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .btn_menos:hover {
    background-color: white;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
  }


  .btn_mas:hover {
    background-color: white;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
  }


  .contenedor_cantidad {
    text-align: center;
  font-size: 50px;
margin: 10px;
  color: rgb(255, 115, 0);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .btn_add{
    background-color: white;
    border-color: rgb(255, 115, 0);
    width: 200px;
    border-radius: 0.9rem;
    box-shadow: none;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 115, 0);
  }

  .btn_add:hover {
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    color: white;
  }