/*Nuevos estilos*/

.styleNav{
    background-color: rgb(255, 115, 0);
  }
.shonen {
  color: white;
  margin: 5px 10px 5px 5px;
  font-size: x-large;
  font-style: bold;
  font-family: 'Francois One', sans-serif;
}
.seinen {
  color: white;
  margin: 5px 5px 5px 10px;
  font-size: x-large;
  font-style: bold;
  font-family: 'Francois One', sans-serif;
}

.seinen:hover, .shonen:hover {
  color: #276b30;
}


.logostyle{
  width: 150px;
  height: 100px;
}

  .tituloPag{
    color: rgb(255, 115, 0);
    text-align: "center";
    font-size: xx-large;
    padding-top: 30px;
        margin-top: "150px"
  }
  
  .subPag{
    color: #276b30;
    text-align: "center";
    padding-top: 15px;
    padding-bottom: 50px;
    font-style: "bold";
    background-color: "#ffffff";
    margin-top: "20px"
  }
.tituloProd{
  color: rgb(199, 98, 3);
    text-align: "center";
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Secular One', sans-serif;
    
}

  h2{
    text-align: center;
    color: rgb(255, 115, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .bi-cart4 {
    width: 25px;
    height: 25px;
    color: #276b30;
  }

  /*Estilo botones*/

  .btn_menos , .btn_mas{
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 0.3rem;
    box-shadow: none;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 10px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .btn_menos:hover {
    background-color: white;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
  }


  .btn_mas:hover {
    background-color: white;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
  }


  .contenedor_cantidad {
    text-align: center;
  font-size: 20px;
margin: 5px;
  color: rgb(255, 115, 0);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .btn_add{
    background-color: white;
    border-color: rgb(255, 115, 0);
    width: 150px;
    height: 35px;
    border-radius: 0.9rem;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 115, 0);
    
  }

  .btn_add:hover {
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    color: white;
  }

  /*Body Mangas*/
  .card{
    width: 230px;
    margin-left: 60px;
    align-self: center;
}

.card img{
    width: 230px;
    height: 330px;
}
  

.precioItem{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  color: #276b30;
}
h5{
  text-align: center;
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  color: rgb(255, 115, 0);
}
.col-12, .mb-2, .col-md-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px) ;
  justify-content: center;
  margin: 40px 20px ;
}

.contenedor{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-content: center;

}
/*ItemDetail*/

.hrDetalle {
  margin-top: 50px;
}
.contenedorDetalle{
 display: flex;
 flex-direction: row;
 justify-content: center;
margin-right: 5em;
margin-top: 5em;
}
.imgDetalle{
  width: 250px !important;
  height: 350px !important;
  margin-left:25px ;
  border-image: round;
  border-radius: 0.5rem;
}

.cardDetalle{
  justify-items: center;
 width: 500px;
 }

 .card{
  border-image: round;
  border-radius: 0.5rem;
 }

.row {
  display: flex !important;
  justify-content: center !important;
}

.card-subtitle{
padding-top: 0.5rem;
padding-bottom: 0.5rem;
color: #276b30;
font-size: large;
}

.card-title {
  font-size: xx-large;
}


.btn_add2{
  background-color: white;
    border-color: rgb(255, 115, 0);
    width: 150px;
    height: 35px;
    border-radius: 0.9rem;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 115, 0);
}
.btn_add2:hover {
  background-color: rgb(255, 115, 0);
  border-color: rgb(255, 115, 0);
  color: white;
}





.btn_finish{
  background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 0.9rem;
    box-shadow: none;
    height: 35px;
    width: 170px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn_empty{
  background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 0.9rem;
    box-shadow: none;
    height: 60px;
    width: 200px;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.btn_empty:hover {
  background-color: white;
  border-color: rgb(255, 115, 0);
  color: rgb(255, 115, 0);
}

.btn_seguir{
  background-color: white;
    border-color: rgb(255, 115, 0);
    width: 180px;
    height: 35px;
    border-radius: 0.9rem;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 115, 0);
}