/*Nuevos estilos*/

.styleNav{
    background-color: rgb(255, 115, 0);
  }

.logostyle{
  width: 150px;
  height: 100px;
}

  .tituloPag{
    color: "#ce6402";
    text-align: "center";
    text-transform: "uppercase";
    padding-top: 30px;
    font-style: "bold";
    background-color: "#ffffff";
    margin-top: "150px"
  }
  
  .subPag{
    color: "#ce6402";
    text-align: "center";
    padding-top: 15px;
    padding-bottom: 50px;
    font-style: "bold";
    background-color: "#ffffff";
    margin-top: "20px"
  }

  h2{
    text-align: center;
    color: rgb(255, 115, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .bi-cart4 {
    width: 18px;
    height: 18px;
  }


  /*Estilo botones*/

  .btn_menos , .btn_mas{
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 0.3rem;
    box-shadow: none;
    height: 30px;
    width: 30px;
    text-align: center;
    font-size: 10px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .btn_menos:hover {
    background-color: white;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
  }


  .btn_mas:hover {
    background-color: white;
    border-color: rgb(255, 115, 0);
    color: rgb(255, 115, 0);
  }


  .contenedor_cantidad {
    text-align: center;
  font-size: 20px;
margin: 5px;
  color: rgb(255, 115, 0);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .btn_add{
    background-color: white;
    border-color: rgb(255, 115, 0);
    width: 150px;
    height: 35px;
    border-radius: 0.9rem;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 115, 0);
    
  }

  .btn_add:hover {
    background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    color: white;
  }

 

  /*Body Mangas*/
  .card{
    width: 230px;
    margin-left: 60px;
    align-self: center;
}

.card img{
    width: 230px;
    height: 330px;
}
  

p{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5{
  text-align: center;
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-style: bold;
  color: rgb(255, 115, 0);
}
.col-12, .mb-2, .col-md-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px) ;
  justify-content: center;
  margin: 40px 20px ;
}

.contenedor{
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-content: center;

}
/*ItemDetail*/
.contenedorDetalle{
 align-self: center;
 padding-top: 15px;
 padding-bottom: 50px;
}


.cardDetalle{
 width: 520px;
 

}

.btn_add2{
  background-color: white;
    border-color: rgb(255, 115, 0);
    width: 150px;
    height: 35px;
    border-radius: 0.9rem;
    box-shadow: none;
    text-align: center;
    font-size: 15px;
    color: rgb(255, 115, 0);
}
.btn_add2:hover {
  background-color: rgb(255, 115, 0);
  border-color: rgb(255, 115, 0);
  color: white;
}


.card-body2{
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
padding-right: 10px;

}

.imgDetalle{
  width: 518px !important;
}


.btn_finish{
  background-color: rgb(255, 115, 0);
    border-color: rgb(255, 115, 0);
    border-radius: 0.9rem;
    box-shadow: none;
    height: 35px;
    width: 170px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}